html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./brick-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#painter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#canvas {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    border: 24px ridge rgba(41, 40, 40, 0.833);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#draw {
    color: #fff;
    width: 100%;
    height: 100%;
    border: 4px solid #000;
}

#tools {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 6px ridge rgba(41, 40, 40, 0.833);
}

#color,
#bg-color {
    border: none;
    height: 4vh;
    width: 8vw;
    margin-left: 5px;
    margin-right: 10px;
    padding: 0;
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 200px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(lightgray, lightgray);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: lightslategray;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

#reset {
    background-color: red;
    border: #fff;
    width: 8vw;
    height: 4vh;
    cursor: pointer;
    margin-right: 10px;
}

#reset:focus {
    color: black;
    background-color: green;
}

#reset:hover {
    border: 2px solid #000
}